
span.menu-create-tag {
    overflow: hidden;;
    display: inline-block;
    max-width: 85%;
    margin-top: 1px;
    margin-left: 10px;
    background-color: #00adff;
    padding: 0 4px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
}