.form_good_process_view {
    width: 100%;
    padding: 2px 10px;
    background-color: lightyellow;
}
/*.o_breadcrumb_full .o_cp_left { display: none; }*/
/*.o_breadcrumb_full .o_cp_right { display: none; }*/
/*.o_view_manager_content header { display: none; }*/