.red {
  color: red;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.lightgreen {
  color: lightgreen;
}

::-moz-placeholder {
    color: #ccc;
    opacity: 1;
  }
:-ms-input-placeholder { color: #ccc; }
::-webkit-input-placeholder  { color: #ccc; }

.modal-title {
  .small {
    color: white;
  }
}

.o_form_view {
  .o_form_field_pdfviewer {
    width: 60%;
    border: 0;
  }
}

.modal {
  .modal-header {
        background-color: #428bca;
        color: #ffffff;
  }
  .modal-footer {
        background-color: #ebebeb;
  }
}

@sheet-max-width: 90%;
.o_list_view {
  th {
    text-align: center;
  }
}

[data-id="goods_id"] {
  width: 20%;
}
th[data-id="lot"] > div,
th[data-id="location_id"] > div,
th[data-id="expiration_date"] > div {
  width: 100px;
}
[data-id="location_id"] {
  width: 5%;
}
[data-id="expiration_date"] {
  width: 8%;
}
